@import "main.css";

body {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.header{
    display: flex; 
    justify-content: space-between;
    padding: 46px 0px 0px 114px;
}

.header-nav {
    display: flex;
    padding: 0px 122px 0px 0px;
    gap: 29px;
}

.logo-webfolio { 
    width: 101.13px;
    height: 129px;
}

.person-photo {
    width: 472px;
    height: 472px;
}
